::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color:rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
  background-color: #f44336;
  border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;

  background: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1007&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  padding: 1rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #111;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  
  position: sticky;
  top: 0;
  z-index: 5;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

          align-items: center;
}

header .container .brand  {
  color: #f44336;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration: none;
 
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav a {
  color: #111;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.27s;
  transition: all 0.27s;
  padding: 0.4rem 1.7rem;
  background-color: rgb(228, 119, 119);
  border: 2px solid #222;
  border-radius: 10px;
}

header .container nav a:hover {
  color: #fff;
  background-color: #f44336;
  transition: 0.5s;
}

header .container nav a:active {
  border-color: rgb(138, 120, 120);
}



